# macOS system files
.DS_Store

# Xcode user data
MessageAppRemake.xcodeproj/project.xcworkspace/xcuserdata/
MessageAppRemake/.DS_Store
*.xcsettings
xcshareddata/

# Firebase configuration
GoogleService-Info.plist
